check_balance_microservice/src/main/resources/balance.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.cmi.com/xml/balance"
           targetNamespace="http://www.cmi.com/xml/balance"
           elementFormDefault="qualified">

    <xs:element name="checkBalanceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="account_number" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="checkBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amount" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


</xs:schema>
